<% provide(:title,@user.company_name+" Dashboard") %>

<div class='dashboard_wrapper'>

		<div class='dashboard_header'>

			<div class='invoicer_div'>
				<%= @user.company_name %> DashBoard (<%=link_to "logout",login_path(@user.id),method: :DELETE %>)
			</div>

		</div>

		<div class='Menu'>

		<ul>
			<li><%=link_to "Profile",profile_path(@user.company_name) %></li>
			<li><%=link_to "Clients", client_path(@user.company_name) %></li>
			<li><%=link_to "Invoices" %></li>
		</ul>



		</div>

</div>




