
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro">
<% provide(:title,'SIGN UP') %>

	<div class='wrapper'>
				
			
			 
			<%= form_for :user , url: {action: "create"}  do |f| %>

				<div class='table_wrapper'>
				<%= render 'sign_up/sign_up_error' %>
					<div class='inner_table_div'>
						<fieldset>
							<legend class='legend_text'> Join InvoiceR, it's free! </legend>			
							<table border=0px>
								<tr><td>First Name</td>

								<td><%= f.text_field :first_name,placeholder:'Enter first name' %></td></tr>

								<tr><td>Last Name</td>

								<td><%= f.text_field :last_name ,placeholder:'Enter last name'%></td></tr>

								<tr><td>Email</td>

								<td><%= f.email_field :email,placeholder:'Enter your email' %></td></tr>

								<tr><td>Company Name</td>

								<td><%= f.text_field :company_name %></td></tr>

								<tr><td>Company Address</td>

								<td><%= f.text_field :company_address %></td></tr>

								<tr><td>Company Country</td>

								<td><%= f.country_select(:company_country, {selected: @user.company_country}) %></td></tr>

								<tr><td>Company State</td>

								<td><%= f.text_field :company_state %></td></tr>

								<tr><td>Company City</td>

								<td><%= f.text_field :company_city %></td></tr>

								<tr><td>Company Email</td>

								<td><%= f.email_field :company_email %></td></tr>

								<tr><td>Company Phone</td>

								<td><%= f.text_field :company_phone %></td></tr>

								<tr><td>Password</td>

								<td><%= f.password_field :password %></td></tr>

								<tr><td>Confirm Password</td>

								<td><%= f.password_field :password_confirmation %></td></tr>

								<tr><td><%=link_to "Already a user?",login_index_path,style:'font-size:14px' %></td>

								<td><%= f.submit 'Sign Up' %>  </td></tr>
							</table>
						</fieldset>
					</div>
				</div>

			<% end %>
	</div>





