<% provide(:title,'Create Invoice') %>
<div class='invoice'>
	<%= render 'invoices/invoice_template' %>
		<div class='table_div'>
			<table >
				<tr>
					<th>item code</th>
					<th>description</th>
					<th>qty</th>
					<th>unit</th>
					<th>total</th>
				</tr>
				<tr>
					<%= form_for [@user, @client, @invoice] do |f| %>
					<td><%= f.text_field :item_code %></td>
					<td><%= f.text_field :description %></td>
					<td><%= f.text_field :qty %></td>
					<td><%= f.text_field :unit %></td>
					<td><%= f.text_field :total %></td>					
				</tr>
					
			</table>
			<%= f.submit 'preview'%>
			<% end %>
		</div>
</div>